.resumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.resumeContainer h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
}

.resumeContainer img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .resumeContainer {
        margin: 20px;
    }
    .resumeContainer h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .resumeContainer img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 769px) {
    .resumeContainer h1 {
        font-size: 2.2rem;
        margin-top: 2.5rem;
    }

    .resumeContainer img {
        border-radius: 15px;
    }
}