#root {
  padding: 2rem;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.parallaxMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}