#root {
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
}


.bodyText {
  text-align: left;
  font-size: 18px;
  line-height: 1.8;
  padding-left: 20px;
  max-width: 400px;
  flex-direction: column;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.astronaut {
  animation: float 3s ease-in-out infinite;
  width: 20%;
  padding-right: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}

.navbar {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: flex-end;
}

.navItem {
  margin-right: 25px;
}

.navItem a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.navItem a:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #7393B3;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.navItem a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #7393B3;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.iconContainer, .toolsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.icon, .tool{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7393B3;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 40px;
  transition: background-color 0.3s;
}

.icon:hover, .tool:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.aboutBody {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#firstH {
  padding-top: 3rem;
}

.details, .extra {
  flex: 1;
  margin: 10px;
  font-size: 30px;
}

.details {
  text-align: left;
  line-height: 3rem;
  max-width: 500px;
  padding-left: 3rem;
}

.extra {
  padding-right: 3rem;
}

.extra ul {
  line-height: 8rem;
  list-style-type: none;
}

.extra li {
  color: #7393B3;
}

.skillSet, .toolSet {
  flex-basis: 100%;
}