#root {
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
}

.bodyText {
  text-align: left;
  font-size: 18px;
  line-height: 1.8;
  padding-left: 20px;
  max-width: 400px;
  flex-direction: column;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.astronaut {
  animation: float 3s ease-in-out infinite;
  width: 20%;
  padding-right: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer {
  display: flex;
  width: 100%;
  position: fixed;
}

.firstText {
  margin-top: 4rem;
  font-size: 40px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.sourceCode {
  margin-right: 80px;
  transition: background-color 0.3s;
}

.sourceCode a {
  color: #FFD700;
  font-size: 18px;
}

.sourceCode:hover {
  background-color: #f9f9f934;
}

.dropbtn, .sourceCode {
  color: #FFD700;
  background-color: transparent;
  backdrop-filter: blur(3px);
  padding: 8px 15px;
  border: 2px solid #FFD700;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtn {
  color: #FFD700;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f934;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.dropdown-content a {
  color: #FFD700;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f132;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.iconContainer, .toolsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.icon, .tool{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFD700;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 40px;
  transition: background-color 0.3s;
}

.icon:hover, .tool:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.aboutBody {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.details {
  margin: 20px;
  font-size: 30px;
  line-height: 3rem;
}

.extra img {
  border-radius: 20px;
}

.skillSet, .toolSet {
  flex-basis: 100%;
}

.projects {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(45, 45, 45, 0.8);
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  margin-bottom: 2rem;
  cursor: pointer;
  width: 100%;
  max-width: 420px;
  min-height: 300px;
  flex: 1 1 auto; 
}

.projectCard:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.projectImg {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.projectCard:hover .projectImg img {
  transform: scale(1.1);
}

.projectInfo h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #FFD700;
}

.projectInfo p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.projectLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.projectLinks a {
  text-decoration: none;
  color: #FFD700;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.8rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.projectLinks a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.github, .demo {
  display: flex;
  align-items: center;
}

.downloadBtn {
  background-color: #FFD700;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 25px;
  transition: transform 0.3s ease;
}

.downloadBtn:hover {
  transform: scale(1.05);
}

footer a {
  text-align: center;
  padding: 20px;
  display: inline;
  z-index: 1000;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .bodyText {
    max-width: 100%;
    padding: 0 20px;
  }

  .astronaut {
    width: 50%;
    padding-right: 0;
  }

  .container {
    flex-direction: column;
  }

  .headerContainer {
    flex-wrap: wrap;
  }

  .sourceCode {
    margin-right: 35px;
  }

  .iconContainer, .toolsContainer {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .icon, .tool {
    font-size: 30px;
    padding: 10px;
  }

  .aboutBody {
    padding-top: 3rem;
  }

  .details {
    margin: 5px;
    font-size: 20px;
  }

  .extra img{
    width: 50%;
  }


  .projects {
    padding-top: 2rem;
  }

  .projectCard {
    min-height: 200px;
  }

  .projectInfo h3 {
    font-size: 1rem;
  }

  .projectInfo p {
    font-size: 0.8rem;
  }

  .projectLinks a {
    padding: 0.5rem 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;
  }

  .bodyText {
    max-width: 800px;
    font-size: 22px;
  }

  .astronaut {
    width: 30%;
  }

  .aboutBody {
    padding-top: 8rem;
  }

  #firstH {
    font-size: 45px;
  }

  .sourceCode {
    margin-right: 70px;
  }

  .projectContainer h1:first-of-type {
    font-size: 45px;
  }

  .skillSet h1 {
    font-size: 45px;
  }

  .toolSet h1 {
    font-size: 45px;
  }

  .details, .extra {
    font-size: 40px;
  }

  .projects {
    padding-top: 6rem;
  }

  .projectCard {
    max-width: 500px;
    min-height: 400px;
  }

  .projectInfo h3 {
    font-size: 2rem;
  }

  .projectInfo p {
    font-size: 1.5rem;
  }
}